{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DBConnectionString": "server=localhost;port=3306;database=justalk_v2;uid=root;password=password;"
  },
  "AuthConfig": {
    "JwtSecret": "your_secret_here",
    "JwtIssuer": "AuthServerJusTalk",
    "JwtAudience": "https://localhost:5001",
    "LifeTime": "30"
  }
}
